@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    nav ul { 
        display: flex; 
    }
	nav ul li { 
        flex: 1 1 100%; 
    } 
    #mainContent {
        margin-left: auto;
        margin-right: auto;
     }
    main{
        padding-block: 1rem;
    }
}