@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@300&display=swap');

h1 {
    color:aliceblue;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}
h2 {
    color: #006D77;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: -0.25rem;
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    color: #006D77;
    padding-block: 1rem;
}
a {
    font-family: 'Open Sans', san serif;
}
a:link {
    font: #006D77;    
    text-decoration: none;
}
a:hover {
    font:#1de1f3;
}
#content {
   max-width:800px;
   margin-left: 10%;
   margin-right: 10%;
}
header {
    background-color: #006D77;
    padding-block: 2rem;
    text-align: center;
}
main {
    padding-block: 1rem;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  1fr 1fr;
}
.etsy {
    grid-column: 1/2;
    grid-row: 1/2;
    padding:.75rem;
    max-width:500px;
    justify-content: center;
}
.etsyImg {
    max-width: 200px;
    margin-top: .75rem;
    text-align: center;
}
.gme {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0.5rem;
    justify-content: center;
}
.gmeImg {
    max-width: 200px;
    margin-top: .5rem;
}
.neflix {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0.5rem;
    justify-content: center;
}
.netflixImg {
    max-width: 200px;
    margin: .5rem;
}
footer {
    text-align: center;
    background-color: #83C5BE;
    padding-block: 1rem;
    max-width:800px;
}