@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@300&display=swap');

h1 {
    color:aliceblue;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}
h2 {
    color: #006D77;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: -0.25rem;
    text-align: center;
}
p {
    font-family: Open Sans, sans-serif;
    background-color: aliceblue;
    font: #006D77;
    padding-block: 1rem;
}
#content {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
header {
    max-width: 800px;
    background-color: #006D77;
    padding-block: 2rem;
}
main {
    background-color: aliceblue;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.etsy {
    grid-column: 1/2;
    grid-row: 1/2;
    padding:0.5rem;
}
.etsyImg {
    max-width: 200px;
    max-height: auto;
    margin-top: .5rem;
}
.gme {
    grid-column: 2/3;
    grid-row: 1;
    padding: 0.5rem;
}
.gmeImg {
    max-width: 200px;
    max-height: auto;
    margin-top: .5rem;
}
.neflix {
    grid-column: 3/4;
    grid-row: 1;
    padding: 0.5rem;
}
.netflixImg {
    max-width: 200px;
    max-height: auto;
    margin: .5rem;
}
footer {
    text-align: center;
    background-color: #83C5BE;
    max-width: 800px;
    padding-block: 1rem;
}