@media only screen and (min-width: 60em) {
    
  
  .mainContent {
      margin: 10%;
    }
    .logo-div img {
      max-width: 250px;
      position:relative;
      float: left;
      margin-top:10%;
    }
    .motto {
      text-align: center;
      margin-top: 17%;
    }
    /* navigation styling*/
    nav ul li a {
    padding: .6rem 1rem;
    }
    /* home page styling */
    #home-first-block {
      display:grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(5,1fr);
      grid-gap:0;
      background-color: unset;
      background-color: white;
    }
    #home-first-img {
      grid-column: 1/4;
      grid-row:1;
    }
    #weather-div {
      grid-column: 3/5;
      grid-row: 1;
    }

    /* article-div styling */
    #shop-img {
    float: right;
    padding:1rem;
    }
    /* aiken page styling*/
    #aiken-intro-div {
      font-size: x-large;
      margin-top: .5rem;
    }
    #aiken-history-div {
      margin-top: 2rem;
      font-size: large;
    }
    #history-third-p {
      padding-bottom: 7rem;
    }
    /* directory page styling */
    .cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    /* join page styling*/
    form legend {
      font-size: 1.75rem;
    }
    form label,
    form label input,
    form label select,
    div.danger p {
      font-size: 1.5rem;
    }
    form textarea {
      height: 6rem;
    }
    form input.submitBtn {
      max-width: fit-content;
    }
    /* contact us page styling */
    #team-div {
      display: unset;
      display: flex;
    }
    #contact-map-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    #contact-info-div {
      grid-column: 1/2;
      text-align: right;
      margin-top: 10%;
    }
    /*footer styling*/
    footer {
      padding: 6rem;
    }
  }








