@media only screen and (min-width: 32.5em) {

    /* general styling */
    .section-header {
        font-size: 2rem;
    }
    /*header styling*/
    .logo-div {
        float:left;
    }
    .logo-div img {
        max-width: 150px;
    }
    .logo-motto {
        display: flex;
    }
    .motto {
        margin-top:10%;
        font-size: medium;
        margin-bottom: 0;
    }
    /* navigation styling*/
    .navigation {
        display: flex;
    }
	.navigation li {
		display: block;
        flex: 1 1 auto;
	}
    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    /* home page styling */
    #home-block-one {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap:.5rem;
    }
    #home-first-img img {
        grid-column: 1/3;
        grid-row:1/2;
        max-width: 800px;
    }
    #weather-div {
        grid-column: 2/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5rem;
        align-items: baseline;
        justify-items: center;
    }
    #weather-header {
        font-weight: bolder;
    }
    #events-div {
        grid-column: 1/3;
        grid-row: 2;
        max-height: max-content;
    }
    #forecast-div {
        margin-top: 10%;
    }
    #forecast-title {
        margin-top:10%
    }
    #events-div {
        grid-column: 1/2;
        grid-row: 2;
    }
    .first-ad-img {
        grid-column: 1/2;
        grid-row:3;
    }
    
    #purpose-div {
        grid-column: 2/5;
        grid-row:3;
    }
    #home-second-img img {
        grid-column: 2/5;
        grid-row:2; 
        max-width:100%;
    }
    /* aiken page styling */
    #location-div {
        margin:10%;
        margin-top: .5rem;
    }
    #area-map-img {
        display: unset;
        float:right;
    }
    div #drive-distance {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
    }
    #distance-p {
        grid-column: 1/2;
    }
    #distance-p, #beach-mtn-div {
        border: 1px solid #6E8DA7;
    }
    #stats-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #pop-div {
        grid-column: 1/2;
        border: none;
    }
    #table-div {
        grid-column: 2/3;
        margin-top:10%;
    }
    #table-div table {
        box-shadow: 10px 10px 10px #628ca6;
    }
    #aiken-history-div {
        background-color: #B5D07A;
        max-height: fit-content;
    }
    #history-first-p img {
        float:right;
        padding:1rem;
        margin-top: .5rem;
    }
    #history-first-p {
        padding: 1rem;
    }
    #history-second-p img {
        float: left;
        padding: 1rem;
        margin-left: .25rem;
    }
    #history-second-p {
        padding: 1rem;
    }
    #history-third-p img {
        float:right;
        max-height: 250px;
    }
    #history-third-p {
        padding-bottom: 5rem;
    }
    /* directory page styling */
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    /* join page styling */
    
    .hero-img {
        max-width: 100%;
        margin: 10%;
    }
    #details-paragraph {
        column-count: 2;
    }
    form legend {
        font-size: 1.25rem;
      }
      form label,
      form label input,
      form label select,
      div.danger p {
        font-size: 1.3rem;
      }
      form textarea {
        height: 4.5rem;
      }
      form input.submitBtn {
        height: 5rem;
        font-size: 1.5em;
      }
    
    #level-description{
        column-count: 2;
    }
    #questions-div {
        box-shadow: 10px 10px 10px #628ca6;
        border: 1px solid #6E8DA7;
        max-width: fit-content;
        margin:10% 20% 10%;
    }
    #questions-div img {
        margin-left: 10%;
    }
    /* contact us page styling */
    #team-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #picture-one {
        grid-column: 1/2;
    }
    #board-div{
        padding: 1rem;
    }
    #board-div p {
        column-count: 2;
    }
    footer {
        padding: 4rem;
    }
    .social-icons{
        justify-content: start;
    }
}