@media only screen and (min-width: 32.5em) {

    /*header styling*/
    .logo-div {
        float:left;
    }
    .logo-div img {
        max-width: 150px;
    }
    .logo-motto {
        display: flex;
    }
    .motto {
        margin-top:10%;
        font-size: medium;
        margin-bottom: 0;
    }
    /* navigation styling*/
    .navigation {
        display: flex;
    }
	.navigation li {
		display: block;
        flex: 1 1 auto;
	}
    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    #home-block-one {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap:0;
    }
    .home-first-img {

    }
    /* join page styling */
    form legend {
        font-size: 1.25rem;
      }
      form label,
      form label input,
      form label select,
      div.danger p {
        font-size: 1.3rem;
      }
      form textarea {
        height: 4.5rem;
      }
      form input.submitBtn {
        height: 5rem;
        font-size: 1.5em;
      }


}