@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Mulish:wght@200;300&display=swap');

/* basic font styling*/
h1 {
    font-family: 'Lora', Georgia, serif;
    font-size: 2rem;
    font-style: italic;
    color:#4EA7C0;
    font-weight: 500;
}
h2 {
    font-family: 'Lora', Georgia, serif;
    font-size: 2rem;
    color:#204853;
    font-weight: 400;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #204853;
}
p a {
    color: #4EA7C0;
}
/* header styling*/
header {
    padding: 0;
    max-width: 100%;
}
#logo-div img {
    max-width: 150px;
    justify-content: center;
}
.motto {
    text-align: center;
}
.mainContent {
    margin:auto;
}
/* navigation styling*/
.hamburger {
    margin: .2rem;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #EBEBEB;
    float:right;
}
nav {
    background-color: #738953;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    justify-content: center;
}
.navigation {
    list-style-type: none;
    padding: 2rem;
    margin: 0;
}
nav ul.hamb {
    display: none;
}
.navigation li:first-child {
    display: block;
    padding: 2rem 2%; 
}
.navigation li{
    display:none;
}
.navigation .active{
    background-color: #B5D07A;
    color:#023047;
}
.responsive li {
	display: block;
}
.navigation a {
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
    color: #023047;
	background-color: white;
}

.mainContent {
    margin:0;
}
.section-header {
    margin-left:10%;
    font-size: 1.5rem;
}
/* weather alert div styling */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
/* home page first block styling*/ 
#home-block-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}
#home-first-img img {
    max-width: 100%;
}
#weather-div {
    border: 1px solid #6E8DA7;
    font-family: 'Open Sans', sans-serif;
    padding:.5rem;
    padding-top:1rem;
    text-align: center;
}
#currently-div {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
}
#weather-header {
    grid-column:1/3;
    grid-row:1/2;
}
#forecast-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    border: 1px solid #6E8DA7;
    background-color: white;
    max-width: fit-content;
}
#forecast-title {
    grid-column: 1/4;
    grid-row:1/2;
    font-weight: bold;
}
#forecast-day0, 
#forecast-day1,
#forecast-day2 {
    text-align: center;
    border-bottom: 1px solid #6E8DA7;
}
#forecast-div figure {
    border: 1px solid #6E8DA7;
    padding: .5em;
    margin:0;
}
#events-div {
    padding: 1rem;
    background-color: #4EA7C0;
}
#events-div ul li {
    font-family: 'Open Sans', sans-serif;
    color:black;
}
#first-ad-img, #second-ad-img, #third-ad-img {
    max-width: 100%;
}
#purpose-div {
    padding: 1em;
    background-color: #B5D07A;
}
#home-second-img img {
    max-width: 100%; 
}
/* second block styling */
#home-block-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#join-div {
    padding: 1em;
    border: 1px solid #6E8DA7;
}
#join-btn {
    background-color: #B5D07A;
    font-family: 'Open Sans', sans-serif;
    color:#204853;
    font-size: larger;
    border-radius: 10px;
    max-width: fit-content;
}
#contact-div {
    background-color: #B5D07A;
    padding: 1em;
}
#home-article-div {
    border: 1px solid #6E8DA7;
    background-color: #4EA7C0;
    padding:1em;
    margin:0;
    justify-content: center;

}
#news-article-header {
    font-size: 1.5rem;
    background-color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom:0;
}
#shop-img {
    display: block;
    margin:auto;
    max-width: 100%;
}
#home-article-div p {
    background-color: white;
    padding:1em;
    margin-top: 0;
}
/* aiken page styling*/
#aiken-intro-div {
    font-style: italic;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
}
#living-index-div {
    background-color: #B5D07A;
    text-align: center;
    padding: 1rem;
}
#cost-button{
    background-color: #4EA7C0;
    color:black;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 25rem;
}
#location-div {
    padding: 1rem;
    border: 1px solid #6E8DA7;
}
#area-map-img {
    display: none;
}
#distance-p {
    background-color: #4EA7C0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
}
#beach-mtn-div {
    background-color: #B5D07A;
    color: black;
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-top: .5rem;
}
#pop-div {
    border: 1px solid #EBC970;
    padding: 1rem;
    margin-top: .5rem;
}
#table-div table {
    font-family: 'Open Sans', sans-serif;
    margin: 10px auto;
	border: thin solid #EBC970;
    padding: 1rem;
    color:#204853;
    border-collapse: collapse;
}
tr:first-child th {
    font-size: 1.5rem;
    font-family: 'Lora', Georgia, serif;
    background-color: #EBC970;
}
th, td, tfoot {
	padding: 7px 15px;
	border: 1px solid #C4C8BC;
}
tfoot {
    text-align: center;
    font-weight: bolder;
    background-color: #EBC970;
}
#aiken-history-div {
    padding:1rem;
}
.img-container figcaption {
    font-family: 'Lora', Georgia, serif;
    color: black;
    font-weight: lighter;
    font-style: italic;
}
/* directory page styling */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    color:#204853;
    margin-top: 2rem;
}
.directory-buttons {
    display: none;
}    
.directory-buttons div {
    margin: 0px 10px;
    color: #FFFFFA;
    cursor: pointer;
}
.directory-buttons div > * {
    pointer-events: none;
    max-height: 25px;
}
.directory-buttons .responsive {
    display: block;
}
.cards h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.cards section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: thin solid #B5D07A;
    padding:1rem;
}
/* join page styling*/
#join-header {
    text-align: center;
}
#benefits-paragraph {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    padding: 1rem;
}
.hero-img img {
    max-width: 100%;
    justify-content: center;
}
#details-paragraph {
    padding: 1rem;
}
form fieldset {
    margin: 0.5rem;
    border: .5px solid #5C5C5C;
    border-radius: 10px;
    padding: 0.5rem 2%;
    font-family: 'Lora', Georgia, serif;
    text-align: center;
}
form legend {
    color: #204853;
    margin: 0 -0.75rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-family: 'Lora', Georgia, serif;
}
form label {
    display: block;
    padding-top: 1rem;
    color: #204853;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 0.25rem;
}
form label input,
form label select {
    display: block;
    font-size: 1rem;
    border: solid 1px #5C5C5C;
    border-radius: 4px;
    padding: 0.75rem;
    color: #5C5C5C;
    width: 90%;
    max-width: 45rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
}
form label.top input:required {
    border: #af3a25 solid 1px;
}
form label.top input:required:valid {
    border: #5C5C5C solid 1px;
}
form label.bottom {
    margin-top: -0.75rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    color:#204853;
    text-align: left;
}
form textarea {
    background-color: rgba(0, 0, 0, 0.1);
    height: 3rem;
    width: 100%;
    white-space: pre-wrap;
    border: #5C5C5C  solid .5px;
}
form input.submitBtn {
    border: none;
    background-color: #B5D07A;
    color: #204853;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 25rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
#membership-level-info p {
    padding: 1rem;
}
#questions-div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
    text-align: center;
}
#questions-div img {
    max-width: 200px;
}
/* contact us page styling */
#board-div {
    background-color: #EBC970;
    padding:1rem;
}
#contact-map-div {
    background-color: #B5D07A;
    padding:2rem;
}
#contact-info-div {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
#map-div {
    display: flex;
    justify-content: center;
}
/*joinConfirm page styling */
#join-confirm-p {
    padding: 1rem;
}
/*thanksContact page styling*/
#contact-confirm-p {
    padding: 1rem;
}
/*attributions page styling */
#attributions {
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}
#attributions a {
    color:#738953;
}
/* footer styling */
footer {
    background-color: #738953;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-weight: lighter;
    text-align: center;
    padding: 2rem;
}
footer a {
    color:#c9c7c7;
    font-weight: bolder;
}
.social-icons {
    display: flex;
    justify-content: space-evenly;
}
.social-icons .icon-img {
    max-width: 40px;
}
