@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@300&display=swap');

h1 {
    color: #023047;
    background-color: white;
    font-family: 'Arvo', serif;
    font-weight: 200;
    font-size: 2rem; 
}
h2 {
    color: #219ebc;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1rem; 
}
h3 {
    color:#219ebc;
    background-color: white;
    font-family: 'Arvo', serif;
    font-weight: 200;
    font-size: .9rem; 
}
p {
    font-family: Open Sans, sans-serif;
    font: #023047;
}
#logo-banner {
    background-color: #023047;
    padding: 2rem;
    margin:auto;
    text-align: center;
}
#logo-img {
    max-width: 100px;
    float: left;
    padding: 1rem;
    margin-top: 2rem;
}
#siteName {
    padding: 2rem;
    margin-bottom: -2rem;
}
#motto {
    margin-top: -4rem;
    padding: 2rem;
}
nav {
    background-color: #219ebc;
}
nav button {
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}
nav ul li {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color:black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
nav ul li .active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
#mainContent {
    max-width:800px;
    margin: 2%;
 }
header {
     padding: 1rem;
 }