@media only screen and (min-width: 60em) {

    nav ul li a {
        padding: .6rem 1rem;
    }
    #galleryContent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
        margin: auto;
    }
    .img-container:hover {
        box-shadow: 1px 1px 1px 1px #1f1f1f;
    }
    figure .img-container {
        margin-right: .5rem;
        margin-left: .5rem;
        max-width: fit-content;
    }
    } 