@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&family=Quicksand:wght@600&display=swap');

h1 {
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 4rem;
    font-weight:600;
    color: gray;
}
p {
    font-family: 'Merriweather', serif;
    color:darkslategray
}
body {
    align-items: center;
    text-align: center;
  }
  picture {
    display: block;
  }
  picture img[data-src] {
    filter: blur(0.2em);
  }
  
  picture img {
    filter: blur(0em);
    transition: filter 0.5s;
    padding: 3rem;
  }
  .img-container {
    position: relative;
  }
  