@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@300&display=swap');

h1 {
    color: white;
    font-family: 'Arvo', serif;
    font-weight: 200;
    font-size: 2rem; 
    text-shadow: #023047;
}
h2 {
    color: #006BA6;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1.5rem; 
}
h3 {
    color:#023047;
    font-family: 'Arvo', serif;
    font-weight: 200;
    font-size: .9rem; 
}
h4 {
    Color: #006BA6;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #023047;
}
header {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.logo-banner {
    background-color:#70C3FF;
    padding: 1rem;
    margin: 0;
    text-align: center;
    flex-direction: column;
}
.logo-img {
    max-width: 100px;
    position: absolute;
    float: left;
    left: 25px;
    top: 1.5%;
    padding: .5rem;
    margin-top: 3rem;
    shape-outside: circle();
}
.siteName {
    padding: 2rem;
    margin-bottom: -2rem;
    margin-top: 1rem;
}
.motto {
    margin-top: -4rem;
    padding: 2rem;
}
#nameAndMotto{
    padding: 1rem;
}
.hamburger {
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #EBEBEB;
    float:right;
}
nav {
    background-color: #006BA6;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation li:first-child {
    display: block;
    padding: .8rem 2%; 
}
.navigation li{
    display:none;
}
.navigation a {
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
.active{
    color:#006BA6;
    background-color: #70C3FF;
}
.navigation a:hover {
    color: #006BA6;
	background-color: white;
}
.responsive li {
	display: block;
    float: inline-end;
}

#mainContent {
    margin: 0;
 }
 #hero-img {
     width: 100vw;
     height: 150px;
     padding: 0;
 }
 .page-header {
     padding: 1rem;
 }
 #weather-summary {
    margin:auto;
    background-color: #EBEBEB;
    padding: 1rem;
 }
 #forecast {
     border-style: solid;
     border-color: #5C5C5C;
     border-width: .5px;
     background-color: #70C3FF;
     text-align: center;
 }
 .small-img {
     display: none;
 }
 #article-div {
    border-style: solid;
    border-color: #5C5C5C;
    border-width: .5px;
    background-color: #EBEBEB;
    padding: 1rem;
 }
 #article-img {
     align-items: center;
 }
 footer {
    background-color: #70C3FF;
    padding: 1rem;
 }
 .clearfix:after {
     content: "";
     display: table;
     clear: both;
 }