@media only screen and (min-width: 60em) {

    /* header styling*/
    .logo-img {
        position: absolute;
        top: 2%;
        left:10%;
        padding:1rem;
     }
    /* navigation styling*/
    nav ul li a {
        padding: .6rem 1rem;
    }
    /* main/body styling*/
    #mainContent {
        margin-left: 10%;
        margin-right: 10%;
    }
    .first-block {   
        border-color: #5C5C5C;
        border-width: .5px;
        position: relative;
    }
    /* weather summary styling*/
    #weather-summary {
        left: 10%;
    }
    /* gallery styling*/
    #galleryContent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
        margin: auto;
    }
    .img-container:hover {
        box-shadow: 1px 1px 1px 1px #1f1f1f;
    }
    figure .img-container {
        margin-right: .5rem;
        margin-left: .5rem;
        max-width: fit-content;
    }
    /* town cards for home page styling*/
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap:1rem;
        background-color: white;
        padding: 1rem;
        justify-content: space-evenly;
    }
    #town1 {
        grid-column: 1/2;
        grid-row: 1/2;
        display: inline-block;
        max-width: fit-content;
    }
    div.cards section#town1 img {
        max-width: 100%;
    }
    div.cards section#town2 .text-area {
        position: unset;
    }
    div.cards section#town2 img {
       position:unset;
       max-width: fit-content;
       padding: 1em;
    }
    div.cards section#town1 img {
        position:unset;
        max-width: fit-content;
        padding: 1em;
     }
     div.cards section#town3 img {
        position:unset;
        max-width: fit-content;
        padding: 1em;
     }
    #town2 {
        grid-column: 2/3;
        grid-row: 1/2;
        display: inline-block;
    }
    #town3 {
        grid-column: 3/4;
        grid-row: 1/2;
        display: inline-block;
    }
    /* events styling*/ 
    #events {
        border-style: solid;
        border-color: #5C5C5C;
        border-width: .5px;
    }
    #events-header {
        font-size: smaller;
    }
    /* storm center styling*/
    form legend {
        font-size: 1.75rem;
      }
      form label,
      form label input,
      form label select,
      div.danger p {
        font-size: 1.5rem;
      }
      form textarea {
        height: 6rem;
      }
      form input.submitBtn {
        max-width: fit-content;
      }
    
    } 