@media only screen and (min-width: 32.5em) {
    /* header styling*/
    header {
        display: block;
    }
    .logo-img {
       position: absolute;
       top: 1.5%;
       padding:1rem;
    }
    /* navigation styling*/
    .navigation {
        display: flex;
    }
	.navigation li {
		display: block;
        flex: 1 1 auto;
	}
    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    /* body/main styling*/
    #mainContent {
        margin:0;
        align-items: center;
        justify-content: center;
     }    
    .hero-img {
        width: 100%;
    } 
    #first-block {   
        border-color: #5C5C5C;
        border-width: .5px;
        position: relative;
    }
    /* weather summary styling*/
    #weather-summary {
        float: left;
        position: absolute;
        left: 10%;
        top: 10%;
        background-color: #f9f8f7ad;
        border-style: solid;
        border-color: #5C5C5C;
        border-width: .5px;
        width:25%;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: .5rem;
        box-shadow: 2px 2px 2px 2px #1f1f1f;
        max-width:fit-content;
        line-height: -.5rem;
    }
    #titleCurrently {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #currently {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #currently-img {
        display: none;
    }
    #titleTemp {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #tempdiv {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #titleWindChill {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #windChilldiv {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #titleHumidity {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #humiditydiv {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    #titleWindSpeed {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #windSpeed {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    /* five-day forecast styling*/
    #forecast {
        border:hidden;
        margin-bottom: 1rem;
        padding:2rem;
        background-color: #70C3FF;
        display: flex;
        font-weight: bold;
        color:#023047;
        max-height: fit-content;
    }
    #forecast figure {
        max-width:70px;
        max-height: 75px;
        display:inline-block;
        text-align: justify;
        margin-top:.25rem;
        margin-bottom: .25rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #forecast figcaption {
        font-weight: bold;
        color:#023047;
        margin-top: .15rem;
      }
    /* article styling*/
    div #article-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    div #article-text-content {
        clear:right;
        max-height: fit-content;
        grid-column: 1/2;
    }
    #article-img {
        padding: 1rem;
        grid-column: 2/3;
        align-content: center;
        max-width: fit-content;
    }
    #article-p {
        clear:right; 
    }  
    /* gallery styling*/
    #galleryContent{
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: .5rem;
    }
    #daysSince {
        margin-top:0;
        margin-bottom:0;
    }
    /* town cards for home page styling*/
    div.cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
   }
   div.cards section#town1 .text-area {
    margin-top: auto;
    }
   div.cards section#town2 .text-area {
       grid-column:2;
       position: relative;
       top: 6rem;
   }
   div.cards section#town3 .text-area {
    margin-top: auto;
    }
    div.cards section#town1 img {
        margin-top: auto;
        margin-right:1rem;
    }
    div.cards section#town2 img {
       grid-column: 1;
       padding-left: 2rem;
       position: relative;
       bottom: 8rem;
   }
   div.cards section#town3 img {
    margin-top: auto;
    margin-right:1rem;
}
   div.home-town-cards section#town1 p em {
    line-height: .5rem;
  }
  div.home-town-cards section#town2 p em {
    line-height: .5rem;
  }
  div.home-town-cards section#town3 p em {
    line-height: .5rem;
  }

    #town3 {    
        grid-row: 3/4;
    }
    #town2 {
        grid-row: 2/3;
     }
     #town1 {
         grid-row: 1/2;
     }
     /* storm center styling*/
     form legend {
        font-size: 1.25rem;
      }
      form label,
      form label input,
      form label select,
      div.danger p {
        font-size: 1.3rem;
      }
      form input.submitBtn {
        height: 5rem;
        font-size: 1.5em;
      }
      /* contact div styling*/
    #contact-container {
        background-color: #70C3FF;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        margin-top: 0;
    }
    #contact-info {
        margin-top: 2rem;
        margin-left: 30%;
       text-align: right;
    }
    #map-img {
    margin-right: 30%;
    margin-top: 2rem;
    }
    /* footer styling*/
    footer {
        font-size: smaller;
        margin-top: 0;
    }
}