/*@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@300&display=swap');*/

h1 {
    color: #023047;
    font-family: 'Arvo', serif;
    font-weight: 200;
    font-size: 3rem; 
}
h2 {
    color: #006BA6;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 2rem; 
}
h3 {
    color:#006BA6;
    font-family: 'Arvo', serif;
    font-weight: 200;
    font-size: .9rem; 
}
h4 {
    Color: #006BA6;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #023047;
}
p a {
    color:white;
}
/* header styling*/
header {
    padding: 0;
    max-width: 100%;
}
.logo-banner {
    background-color:#70C3FF;
    padding: 1rem;
    margin: 0;
    text-align: center;
    flex-direction: column;
}
.logo-img {
    max-width: 100px;
    left: 25px;
    margin-top: 2rem;
}
.siteName {
    padding: 2rem;
    margin-bottom: -2rem;
    margin-top: 1rem;
}
.motto {
    margin-top: -4rem;
    padding: 2rem;
    color:#023047;
    font-style:italic;
    font-weight: bolder;
}
#nameAndMotto{
    padding: 1rem;
}
/* navigation styling*/
.hamburger {
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #EBEBEB;
    float:right;
}
nav {
    background-color: #006BA6;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation li:first-child {
    display: block;
    padding: .8rem 2%; 
}
.navigation li{
    display:none;
}
.navigation .active{
    background-color: #70C3FF;
    color:#023047;
}
.navigation a {
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
    color: #023047;
	background-color: white;
}
.responsive li {
	display: block;
    float: inline-end;
}
/* body/main styling*/
#mainContent {
    margin: 0;
 }
 picture.hero-img {
    display:flex;
    justify-content: center;
    max-width: 100%;
 }
 .page-header {
     text-align: center;
     padding: 1rem;
     margin-bottom: -.5rem;
 }
 #index-subhead {
     padding: 1rem;
 }
 /* weather summary styling*/
 #weather-summary { 
     width:100%;
    background-color: #EBEBEB;
    padding:.5rem;
     text-decoration: none;
     display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: .5rem;
    font-family: 'Open Sans', sans-serif;
    max-width:fit-content;
    }
#titleCurrently {
        grid-column: 1/2;
        grid-row: 1/2;
    }
#currently {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #titleTemp {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #tempdiv {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #titleWindChill {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #windChilldiv {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #titleHumidity {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #humiditydiv {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #titleWindSpeed {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #windSpeed {
        grid-column: 4/5;
        grid-row: 2/3;
    }
/* five-day forecast styling*/
 #forecast {
    border-style: solid;
    border-color: #5C5C5C;
    border-width: .5px;
    background-color: #70C3FF;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    position: relative;
    justify-content: center;
    color:#023047;
    font-family: 'Open Sans', sans-serif;
  }
  #forecast figure {
    width: 5em;
    position: relative;
    right: 3em;
  } 
  #forecast-title {
    color: #023047;
    text-align: left;
    margin-left: 1rem;
  }
  .forecast-day {
    font-weight: bold;
  }
  figcaption {
    font-weight: bold;
    color:#023047;
  }
  /* upcoming events styling */
  .events-header {
    text-align: left;
    padding-left: 1rem;
  }
  .events {
    border-style: solid;
    border-color: #5C5C5C;
    border-width: .5px;
    font-family: 'Open Sans', sans-serif;
    color: #023047;
    padding: 1rem;
    max-width: 100%;
    text-align: left;
    margin: 0;
  }
  .events li {
      margin-left:1rem;
      font-size: larger;
  }
  /* article styling*/
 #article-div {
    border-style: solid;
    border-color: #5C5C5C;
    border-width: .5px;
    background-color: #EBEBEB;
    padding: 1rem;
    max-width: 100%;
 }
 #article-img {
     max-width: 250px;
     justify-items: center;
 }
 /* gallery styling*/
 #galleryContent{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
    justify-content: center;
}
 figure .img-container {
     padding: .5rem;
     max-width: 100%;
 }
 .img-container img {
     max-width: 100%;
 }
 .img-container figcaption {
    padding-inline: 1rem;
     text-align: center;
     font-family: 'Open Sans', sans-serif;
    color:#023047;
 }
.img-container:hover {
   box-shadow: 1px 1px 1px 1px #1f1f1f;
}
#daysSince {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1rem;
    color: white;
    background-color:  #006BA6;
    padding:1rem;
    text-align: center;
    margin-top: 0;
}
 /* town cards for home page styling*/
 .cards{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-gap:0;
     text-align: center;
    padding:0;
    margin: 0;
    color:#023047;
 }
#town2 {
    background-color: #70C3FF;
    grid-column: 1/2;
    grid-row: 2/3;
 }
 #town1 {
     grid-column: 1/2;
     grid-row: 1/2;
 }
#town1, #town3 {
     background-color: #EBEBEB;
 }
 /* storm center styling*/
 form fieldset {
    margin: 0.5rem;
    border: .5px solid #5C5C5C;
    border-radius: 10px;
    padding: 0.5rem 2%;
    font-family: 'Arvo', serif;
    text-align: center;
  }
  form legend {
    color: #006BA6;
    margin: 0 -0.75rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-family: 'Arvo', serif;
  }
  form label {
    display: block;
    padding-top: 1rem;
    color: #023047;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 0.25rem;
  }
  form label input,
  form label select {
    display: block;
    font-size: 1rem;
    border: solid 1px #5C5C5C;
    border-radius: 4px;
    padding: 0.75rem;
    color: #5C5C5C;
    width: 90%;
    max-width: 45rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
  }
  form label.top input:required {
    border: #af3a25 solid 1px;
  }
  form label.top input:required:valid {
    border: #5C5C5C solid 1px;
  }
 .slider-container {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
  }
  #severity-number {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  div.danger label {
    display: -webkit-box;
    padding: 0;
    margin: 0;
    width: 10%;
    line-height: 2rem;
  }
  div.danger p {
    margin: 0;
    font-size: 1rem;
    margin-top: 1rem;
    color: #006BA6;
    font-weight: bolder;
    font-style:italic;
    text-align: left;
  }
  div.danger label input {
    height: 2em;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  form label.bottom {
    margin-top: -0.75rem;
    margin-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    color:#023047;
    text-align: left;
  }
  form textarea {
    background-color: rgba(0, 0, 0, 0.1);
    height: 3rem;
    width: 100%;
    white-space: pre-wrap;
    border: #5C5C5C  solid .5px;
  }
  form input.submitBtn {
    border: none;
    background-color: #70C3FF;
    color: #023047;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 25rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }

 /* contact div styling*/
  #contact-container {
    background-color: #70C3FF;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding:1rem;
    justify-items: center;
 }
 #contact-header {
     color:#023047;
 }
.social-icons {
    justify-content: space-evenly;
}
.icon-img {
    max-width: 50px;
}
 #map-img {
     max-width:200px;
     padding:.5em;
 }
 /* footer styling*/
 footer{
    background-color: #006BA6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 2rem;
 }
 .clearfix:after {
     content: "";
     display: table;
     clear: both;
 }