@media only screen and (min-width: 60em) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    #mainContent {
        max-width: 900px;
     }
     nav ul li {
         padding: 1rem;
     }
    }