@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    header {
        text-align: center;
    }
    #mainContent {
        margin-left: auto;
        margin-right: auto;
     }
     nav ul { 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        overflow: hidden;
    }
}