@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@300&display=swap');

h1 {
    color:aliceblue;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 2rem;
}
h2 {
    color: #006D77;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: .75rem;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    padding: 1rem;
}
h3 {
    color: #006D77;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: .9rem; 
    margin-left: .75rem;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    padding: 1rem;
}
#mainContent {
    max-width:800px;
 }
nav {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1rem;
}
header {
    background-color: #006D77;
    text-align: center;
    padding-block: 2rem;
}
main {
    padding-block: 1rem;
}
#logo-img {
    max-width: 200px;
}
#color-scheme {
    max-width: 300px;
}
footer {
    text-align: center;
    background-color: #83C5BE;
    padding-block: 1rem;
}